include ../company/company

mixin full-session(name, time, logo, order, subscribers)
    .full-session
        +company(logo)
        #time.full-session__time= time
        .full-session__name= name
        each dish in order.dishes
            .full-session__dish=dish.name
            .full-session__dish-price=dish.price
        .full-session__subscribers 
            span Подписчики
            each subscriber in subscribers
                .full-session__subscriber-name=subscriber.person.name
                each dish in subscriber.dishes
                    full-session__subscriber-dish=dish.name
                    full-session__subscriber-price=dish.price