include ../company/company

mixin full-session(name, time, logo, order, subscribers,mods)
    .full-session(class=mods)
        +company(logo)
        #time.full-session__time=time.getHours()+':'+time.getMinutes()
        .full-session__name= name
        each dish in order.dishes
            .full-session__dish=dish.name
            .full-session__dish-price=dish.price
                span руб
        .full-session__subscribers 
            .full-session__subscribers-title Подписчики
            each subscriber in subscribers
                .full-session__subscriber-name=subscriber.person.name
                each dish in subscriber.dishes
                    .full-session__dish=dish.name
                    .full-session__dish-price=dish.price
                        span руб