include ../button/button
include ../person/person

mixin session(owner, time, service, id, order, user, length)
    .session
        form.session__form.form(action="/sessionControls", method="post")
            .session__edit
                +button("", ["button_icon", "button_icon-edit"], {"iconsOnly": "true", "type": "submit", "name":"action", "value": "edit"})
            if user && owner.id == user.id
                .session__delete
                    +button("", ["button_icon", "button_icon-delete"], {"iconsOnly": "true", "type": "submit", "name": "action", "value": "delete"})
            +person(owner)
            .session__info Сделал заказ в 
                span=service.title
            .session__time=time.getHours()+':'+time.getMinutes()
            if user
                .session__controls
                    input(type="hidden" name="userId" value=user._id)
                    input(type="hidden" name="orderId" value=order._id)
                    input(type="hidden" name="serviceId" value=order.service._id)
                    +button("Хочу также!", [], {"type": "submit", "name": "action", "value": "same"})
                    +button("Своё меню!", [], {"type": "submit", "name": "action", "value": "menu"})
            .session__subscribers
                .session__subsribers_info Присоеденилось 
                    span=length
                .session__look Посмотреть заказ
                    +button("", ["button_icon", "button_icon-look"], {"iconsOnly": "true", "href":'#'})
        .overlay
        .popup
            .close_window x
            +full-session(owner.name, time, service.logo, order, order.subscriber, "full-session_main")
